{% extends "blog/base.html" %}
{% block title %}Register - Django Blog{% endblock %}
{% block content %}
<h1>Register</h1>
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<form method="post" action="{% url 'blog:register' %}" class="auth-form">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Register</button>
</form>
<p class="auth-link">Already have an account? <a href="{% url 'blog:login' %}">Log in</a></p>
{% endblock %}
